@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*start of containers*/
.parent-container{
    padding-left: 70px;
    padding-right: 70px;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
}

.column1,.column2{
    width: 100%;
    height: auto;
}
/*end of containers*/


/*start of contents*/

/*right column*/
.front_img{
    height: 700px;
    width: auto;
}

/*left column*/
.name{
    font-size: 35px;
    font-weight: 600;
}

.position{
    font-size: 60px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*buttons*/
.buttons{
    margin-bottom: 100px;
    margin-top: 100px;
}

/*project button*/
.projects{
    width: 195px;
    height: 41px;
    background-color: transparent;
    border: 1px solid #191930;
    border-radius: 2px;
    margin-right: 20px;
    color: #191930;
}

.projects:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #5c2196;
    color: #5c2196;
}


/*hire button*/
.hire{
    width: 195px;
    height: 41px;
    background-color: #191930;
    color: white;
    border: none;
    border-radius: 2px;
}

.hire:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #5c2196;
    color: #191930;
}


/*icons*/
.icon-container{
    margin-top: 100px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    font-size: 18px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #191930;
    border-radius: 50%;
    text-align: center;
    color: #191930;
}

.fa-brands:hover{
    color: #5c2196;
    border: 1px solid #5c2196;
}

/*end of contents*/